.genre-list, .seasons-list
    display: grid
    grid-template-columns: repeat(5, 1fr)
    gap: 15px
    line-height: 1.5
    margin: 25px auto
    width: min(70%, 1000px)

    .header
        grid-column: 1/-1
        font-weight: bold
        letter-spacing: 1px

    .genre, .season
        display: flex
        align-items: center
        cursor: pointer
        &:hover
            background-color: var(--color-light-grey)
            color: var(--color-dark)

    a
        width: 100%

@media (max-width: 1000px)
    .genre-list, .seasons-list
        grid-template-columns: repeat(4, 1fr)

@media (max-width: 900px)
    .genre-list, .seasons-list
        grid-template-columns: repeat(3, 1fr)

@media (max-width: 700px)
    .genre-list, .seasons-list
        grid-template-columns: repeat(2, 1fr)
