.navigation-bar
    display: flex
    width: 100%
    align-items: center
    height: 60px
    background: var(--color-dark-grey)
    padding: 12px 10px

    .navbar
        flex: 1

        .nav-list-items
            font-size: 14px
            letter-spacing: 1px
            display: flex
            justify-content: flex-start
            align-items: center
            color: #f5eeee

            > li
                margin-left: 15px
                margin-right: 10px

@media (max-width: 650px)
    .navigation-bar
        display: grid
        grid-template-columns: 1fr
        grid-auto-rows: 1fr
        height: auto
        background-color: var(--color-dark-grey)
        row-gap: 15px

        .navbar

            .nav-list-items
                justify-content: center
