.pager-controls
    display: flex
    justify-content: center
    width: 100%
    margin: 20px 0
    > *
        padding: 15px 20px
        text-align: center
        cursor: pointer

    .pager-button + .pager-button
        margin-left: 10px

    .pager-button
        background: none
        border: 2px solid var(--color-white)
        border-radius: 10px
        color: var(--color-white)

        &:hover, &.selected
            background: var(--color-white)
            color: var(--color-dark)
