.button
    border: 0
    border-top-right-radius: 27px
    border-bottom-right-radius: 27px
    background-color: var(--color-dark-grey)
    display: inline-block
    color: #f5eeee
    font-size: 12px
    padding: 10px 15px
    letter-spacing: 1px
    cursor: pointer

    .icon-search
        fill: #FFF
